<% provide(:title, t(".title")) %>

<div class="home-hero">
  <!-- topbar-content -->
	<div class="topbar-wrapper">
		<div id="topbar-container" class="container-fluid">
      <%= render "shared/navigation" %>
    </div>
  </div>
  <!-- end topbar -->
  <!-- hero-content -->
  <div class="home-hero-content">
    <div class="left-panel">
      <h1 class="home-hero-content-header">
        <%= t(".header") %>
      </h1>
      <h3 class="home-hero-content-subheader">
        <%= t(".subheader") %>
      </h3>
    </div>
      <div class="right-panel">
      </div>
  </div>
  <!-- end hero content -->
</div>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
