<% provide(:title, t(".title")) %>

<div class="home-hero">
  <%= render "shared/navigation" %>
  <!-- hero-content -->
  <div class="home-hero-content">
    <div class="center-panel">
      <h1 class="home-hero-content-header">
        <%= t(".header") %>
      </h1>
      <h3 class="home-hero-content-subheader">
        <%= t(".subheader") %>
      </h3>
    </div>
  </div>
  <!-- end hero content -->
</div>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>


<div class="main-content">
  <div class="main-content-image"></div>
</div>