
.search-bar {
  width: 30%;
  height: 10%;
  position: relative;
  float: right;		
  color: inherit;
  font-size: 3vw;
}

.search-btn {
}

.search-container {
	display: flex;
}

.search-close-bar {
	position: absolute;
	float: right;
	bottom: 40%;
}

.search-remove {
	top: 10px;
}

.search-enter-icon, .search-enter {
  text-decoration: none;
  font-size: 3vw;
  position: relative;
  color: inherit;
  width: 10%;
  height: 10%;
  top: 8px;
}

form.site-nav_form {
	width: 90%;
	position: relative;
}

.search-btn {
	padding: 0 5% 0 0;
	border: none;
	background: none;
}

.search-box {
	width: 100%;
	position: relative;
	background-color: rgba(51, 51, 51, 0.85);
	border-width: 0 0 0 0;
	box-shadow: 2px 2px #111;
	border-radius: 4px;
}

input[type=text] {
	color: white;
	font-family: "RobotoSlab-Regular";
	padding: 5px;
	border:1px solid #2a2e31;
  	color:#505358;
}

.right-search-icons {
	left: 90%;
	width: 15%;

	position: absolute;
    color: inherit;
	font-size: 3vw;
}
