<footer class='footer-distributed'>
	<div class='footer-left'>
		<h3>Escher<span>Site</span></h3>
		<p class='footer-links'>
			<%= link_to 'Home', "javascript:void(0)" %>
			<%= link_to 'FAQ', "javascript:void(0)" %>
			<%= link_to 'About', "javascript:void(0)" %>
			<%= link_to 'Contact', "javascript:void(0)" %>
		</p>
		<p class='footer-company-name'>EscherSite © {year}</p>
	</div>
	<div class='footer-center'>
		<div>
			<i class='fa fa-map-marker'></i>
			<p>
				<span>{location}</span>
				San Francisco Bay Area
			</p>
		</div>
		<div>
			<i class='fa fa-phone'></i>
			<p>+1 707 509 3623</p>
		</div>
		<div>
			<i class='fa fa-envelope'></i>
			<p><a href='mailto: info@eschersite.com'>info@eschersite.com</a></p>
		</div>
	</div>
	<div class='footer-right'>
		<p class="footer-company-about">
			<span>About This Site</span>
			{about}
		</p>
		<div class='footer-icons'>
			<a href="#">
				<i class='fa fa-facebook'></i>
			</a>
			<a href="#">
				<i class='fa fa-twitter'></i>
			</a>
			<a href="#">
				<i class='fa fa-linkedin'></i>
			</a>
		</div>
	</div>
</footer>
