<div id="mySidenav" class="sidenav" tabindex="-1">
	<%= link_to menu_path, { remote: true, class: "closebtn", 'data-toggle': 'modal', 'data-target': '#modal-window' } do %>
		<i class="glyphicon glyphicon-remove menu-remove"></i>
	<% end %>
  <ul class="nav-links">
  	<li><a class='topbar-links gallery' href='#0'>Gallery</a></li>
  	<li><a class='topbar-links original-prints' href='#0'>Original Prints</a></li>
  	<li><a class='topbar-links featured' href='#0'>Featured</a></li>
  	<li><a class='topbar-links about-escher' href='#0'>About Escher</a></li>
  	<li><a class='topbar-links techniques' href='#0'>Techniques</a></li>
  <ul>
</div>
