<div class='row'>
	<div class='nav navbar-nav navbar-left'>
    <%= link_to menu_path, { remote: true, 'data-toggle': 'modal', 'data-target': '#modal-window' } do %>
      <i class='glyphicon glyphicon-menu-hamburger col-xs-3'></i>
    <% end %>
	</div>
</div>
