<div class='nav navbar-right'>
	<a class='search-bar js-toggle-search' data-nav='search' href='#'>
		<i class='glyphicon glyphicon-search search-bar-init'>
			<use xlink:href='#search'></use>
		</i>
	</a>
	<a class='search-close-bar js-toggle-search' hidden='true' href='#'>
		<i class="glyphicon glyphicon-remove search-remove"></i>
	</a>
</div>
