<%= render "shared/navigation" %>
	<div class= 'show_main_content'>
		<div class='piece_header'>
			<%= t('.title') %>
		</div>
		<div class='show_main_image_content'>
			<div class="left-show-triangle"></div>
			<a href class='previous-link'>previous</a>
			<div class='show_main_image'></div>
			<a href class='next-link'>next</a>
			<div class="right-show-triangle"></div>
		</div>
		<div class='show_description'>
			<%= t('.description') %>
		</div>
	</div>
	<div class="styled_line1"></div>
	<div class="styled_line2"></div>
