<%= render "shared/navigation" %>
	<div class= 'show_main_content'>
		<div class='piece_header'>
			<%= t('.title') %>
		</div>
		<div class='show_main_image_content'>
			<div class='show_main_image'>
			</div>
		</div>
		<div class='show_description'>
			
		</div>
	</div>
	<div class="styled_line1"></div>
	<div class="styled_line2"></div>

<%= render 'shared/footer' %>