  .border-left,  .border-right {
    z-index: -1;
    height: 100%;
    width: 5%;
    position: absolute;
    right: 95%;
    background: linear-gradient( rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.91) ), url('<%=asset_path 'small_steps.png' %>')
  }
  .border-right {
    left: 95%;
    .right-triangle {
      right: 150px;
      float: left;
      border-width: 0 150px 150px 0;
      border-color: transparent #F44336 transparent transparent;
    }
  }
  .right-triangle, .left-triangle {
    position: relative;
    margin-left: auto;
    top: 105px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  .border-left {
    right: 95%;
    .left-triangle {
      left: 150px;
      float: right;
      border-width: 150px 150px 0 0;
      border-color: #F44336 transparent transparent transparent;
    }
  }